body{
  background-color: #120d0d;
 
}
.navbar{
  background-color: #28272b;
  color: white;
  font-weight: 800;
  width: 100%;
}
.footer-title{
  font-size: 15px;
  color: white;
}
 footer{
  padding: 40px;
 }
 .Any-questions{
  
 }