body{
  background-color: #120d0d;
 
}
.navbar{
  background-color: #28272b;
  color: white;
  font-weight: 800;
  width: 100%;
}
th{
  font-size: medium;
}
#vote-btn{
  background-color: #4027d1;
}
.footer-title{
  font-size: 15px;
  color: white;
}
#coins-card{
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}
 footer{
  padding: 40px;
 }
 .Any-questions{
  
 }