body{
  background-color: #120d0d;
  margin-left: 140px;
  margin-right: 140px;
}
.navbar{
  background-color: #28272b;
  color: white;
  font-weight: 800;
  width: 100%;
}
.footer-title{
  font-size: 15px;
  color: white;
}
 footer{
  padding: 40px;
 }